{% extends 'base1.html' %}
{% load widget_tweaks %}
{% block title %} Create your account{% endblock %}
{% block content %}
<h1>Create your account</h1>
<form action="." method='post'>
	
	{% csrf_token %}
	{% for field in user_form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
	<p><input type="submit" value="Create your account"></p>
</form>
<p> Click here <a href="{% url 'login' %}">Login</a> if already register</p>
{% endblock %}